.head {
    columns: #777;
    text-align: center;
    background: #ebebeb;
}

.pages {
     color: blue;
     
    }

.about {
    font-family: Arial;
    Color: rgb(230, 222, 222);
    background: #777;
    width: 960px;
    font-size: 18px;
    }

.picture {
    float: left ;
    clear: right;
    margin-left: 3in
 }

 .body {
    width: 60%;
    text-align: center;

 }

 .aside {
 color: aquamarine;
 float: left;
 position: relative;
 width: 33%;
}